{% extends 'master' %}

{% block content %}
    <!-- style="background-color: #d3d3d3;" -->
    <div class="container">
        <div class="row main">
            <div class="main-login main-center">
                <form class="form-horizontal" method="post">
                    {{ csrfField }}
                    <div class="form-group">
                        <label for="name" class="cols-sm-2 control-label">Your Name</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="first_name" id="first_name"  placeholder="First Name" onchange="check_first_name(name_err_div)"/>
                                <input type="text" class="form-control" name="last_name" id="last_name"  placeholder="Last Name" onchange="check_last_name(name_err_div)"/>
                            </div>
                        </div>
                        <div id="name_err_div">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email" class="cols-sm-2 control-label">Your Email</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="email" id="email"  placeholder="Enter your Email" onchange="check_email(email_err_div)"/>
                            </div>
                        </div>
                        <div id="email_err_div">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="username" class="cols-sm-2 control-label">Display Name</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="display_name" id="display_name"  placeholder="Enter your Display Name" onchange="check_display_name(display_name_err_div)"/>
                            </div>
                        </div>
                        <div id="display_name_err_div">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password" class="cols-sm-2 control-label">Password</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                <input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password" onchange="check_password(password_err_div)"/>
                            </div>
                        </div>
                        <div id="password_err_div">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                <input type="password" class="form-control" name="confirm" id="confirm"  placeholder="Confirm your Password" onchange="confirm_password(confirm_err_div)"/>
                            </div>
                        </div>
                        <div id="confirm_err_div">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <input type="checkbox" id="terms_check" onchange="register_checkbox()"> I agree to the terms and conditions.
                            </div>
                        </div>
                    </div>

                    <div class="form-group ">
                        <button type="submit" id="register_submit" action="UsersController.create" class="btn btn-primary btn-lg btn-block login-button" disabled>Register</button>
                    </div>
                    <div class="login-register">
                        <a href="login">Login</a>
                        </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}